<html lang="en" xmlns:th=http://www.thymeleaf.org>

<head>
	<!-- Basic -->
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<!-- Mobile Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<!-- Site Metas -->
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<meta name="author" content="" />
	<link rel="shortcut icon" th:href="@{/images/google_logo.png}" type="image/x-icon">
	<link rel="icon" th:href="@{/images/google_logo.png}" type="image/x-icon">

	<title>
		Easy Query
	</title>

	<!-- slider stylesheet -->

	<link rel="stylesheet" type="text/css"
		href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
	<!-- bootstrap core css -->
	<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
		integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />
	<!-- Custom styles for this template -->
	<link th:href="@{/css/style.css}" rel="stylesheet" />
	<link th:href="@{/css/style1.css}" rel="stylesheet" />
	<!-- responsive style -->
	<link th:href="@{/css/responsive.css}" rel="stylesheet" />
	<!--<script type="text/javascript">
		window.addEventListener('beforeunload', (event) => {
			// Cancel the event as stated by the standard.
			event.preventDefault();
			// Chrome requires returnValue to be set.
			event.returnValue = '';
		});
	</script>-->
</head>

<body>
	<div class="hero_area hero_area1">
		<!-- header section strats -->

		<!--<header class="header_section">-->

		<nav class="navbar navbar-expand-lg custom_nav-container main_nav fixed-top">

			<!--<a class="navbar-brand" href="index.html">
					<span>

					</span>
				</a>-->
			<div id="navbarSupportedContent1">
				<div class="container">
					<div class="row">
						<div class="col-6">
							<img class="logo9" th:src="@{/images/easy_query2.png}" alt="no image" />
							<!--<img class="logo2" th:src="@{/images/logo2.png}" alt="no image" />-->

						</div>
						<a class="m_greeting2" th:if="${greeting}">
							<span th:text="'Hi '+${greeting}">Hi Kumar</span>
							<!--<img class="logo2" th:src="@{/images/logo2.png}" alt="no image" />-->
						</a>
						<a class="ma_shopping" onclick="cart_open()" th:if="${greeting}">
							<i class="fa fa-shopping-bag cart" aria-hidden="true"><sup class="shopping_bag_sup"
									th:text="${' '+noOfItems}">0</sup></i>


							<!--<i class="fa fa-shopping-bag"></i>-->

						</a>
						<div class="col-4">


							<button class="back4 view_leads_btn" th:unless=" ${greeting}"
								th:onclick="|show_customers(${product.p_id})|">Views

							</button>


							<!--<button class="back3" onclick="back_to_home()">Back to home</button>-->
						</div>
						<div class="col-2">

							<span th:text=" ${' '+noOfViews}" class="n_views" th:unless=" ${greeting}">0</span>

							<!--<button class="back3" onclick="back_to_home()">Back to home</button>-->
						</div>

					</div>
					<button class="back5" th:if="${greeting}" onclick="product_to_home()">Back</button>

					<!--<button class="navbar-toggler m_menu" type="button" data-toggle="collapse"
						data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
						aria-expanded="false" aria-label="Toggle navigation">
						<span class=""></span>

					</button>-->
				</div>
				<!--<button class="back3" onclick="back_to_home()">Back</button>-->
				<!--<button class="back3" th:if="${greeting}">Display</button>
				<button class="back4" th:unless=" ${greeting}" th:onclick="|show_customers(${product.p_id})|">Views
					<sup th:text=" ${' '+noOfViews}" class="n_views">0</sup>
				</button>-->

			</div>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav">

					<li class="nav-item">
						<!--<a class="nav-link" href="#">-->
						<div class="logo21">
							<img class="logo22" th:src="@{/images/easy_query2.png}" alt="no image" />
							<!--<img class="logo2" th:src="@{/images/logo2.png}" alt="no image" />-->
						</div>

						<!--</a>-->

					</li>
					<li class="nav-item">

						<span th:if="${greeting}" th:text="'Hi '+${greeting}"></span>


					</li>
					<li class="nav-item">

						<!--<button class="back1" onclick="back_to_home()">Back to home</button>-->
						<button class="back1" th:if="${greeting}" onclick="product_to_home()">Back</button>
						<button class="back1 view_leads_btn" th:unless="${greeting}"
							th:onclick="|show_customers(${product.p_id})|">Views<sup th:text=" ${' '+noOfViews}"
								class="n_views">0</sup></button>



					</li>
					<!--<li class="nav-item">

						<a class="ma_shopping1">
							<i class="fa fa-shopping-bag" aria-hidden="true"><sup>0</sup></i>
							<i class="fa fa-shopping-bag"></i>

						</a>
						


					</li>-->
					<!--<li class="nav-item">
						<a class="nav-link" href="#">
							<div class="logo">
								<img class="logo1" th:src="@{/images/logo1.png}" alt="no image" />
								<img class="logo2" th:src="@{/images/logo2.png}" alt="no image" />
							</div>
							<button class="back1">Back to home</button>
						</a>
						
					</li>-->

					<!--<li class="nav-item active m_menu1">
						<a class="nav-link" href="#" onclick="close_menu()">Home <span
								class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item m_menu1">
						<a class="nav-link" href="#" onclick="close_menu()">
							Shop
						</a>
					</li>
					<li class="nav-item m_menu1">
						<a class="nav-link" href="#why_us" onclick="close_menu()">
							Why Us
						</a>
					</li>
					<li class="nav-item m_menu1">
						<a class="nav-link" href="#testimonial" onclick="close_menu()">
							Testimonial
						</a>
					</li>
					<li class="nav-item m_menu1">
						<a class="nav-link" href="#contact" onclick="close_menu()">Contact Us</a>
					</li>
-->
				</ul>
				<div class="user_option" th:if="${greeting}">
					<a class="ma_shopping1" onclick="cart_open()">
						<i class="fa fa-shopping-bag" aria-hidden="true"><sup class="shopping_bag_sup"
								th:if="${noOfItems}" th:text="${noOfItems}">0</sup>
							<sup th:unless="${noOfItems}">0</sup>
						</i>


					</a>
				</div>

			</div>
		</nav>



		<!--	<input type="text" class="search_txt" />
				<button class="search_btn">Search</button>-->

		<!--</header>-->

		<!-- end header section -->
		<!-- slider section -->


		<!-- end slider section -->
	</div>
	<!--end hero area-->
	<input type="hidden" id="show_details" th:value="${show_details}" />
	<div class="cart_top_div fixed-top">
		<input type="hidden" id="removed_id" th:value="${removed}" th:if="${removed}" />
		<i class="fa-solid fa-xmark close_btn5" onclick="cart_close()"></i>
		<br />
		<h4 class="name_h4">Name</h4>
		<h4 class="qty_h4">Quantity</h4>
		<h4 class="price_h4"> Price</h4>
		<hr />
		<div class="items_in_cart">
			<h1 class="no_items_h1" th:unless="${products}">No Items available</h1>
			<div class="cart_item" th:if="${products}" th:each="p:${products}">
				<input class="cart_item_id" type="hidden" th:value="${p.p_id}" />
				<a id="clear_cart" th:href="@{/item/clear-cart}" style="display:none;"></a>
				<span class="cart_item_name" th:text="${p.p_name}">Product 1</span>
				<span class="cart_item_qty">
					<span class="qty_span">
						<span th:unless="${p.qty}"><span th:unless="${p.qty2}"><span class="sub_qty_span"
									th:text="' 1 '+${p.unit}"></span></span></span><span th:if="${p.qty}"
							th:text="${p.qty}+' '+${p.unit}"></span><!--<span th:text="' '+${p.unit}"></span>-->
					</span>
					<span class="qty_span">
						<!--<span th:unless="${p.qty2}">1<span th:text="' '+${p.unit}"></span></span>-->
						<span th:if="${p.qty2}"
							th:text="${p.qty2}+' '+${p.unit}"></span><!--<span th:text="' '+${p.unit}"></span>-->
					</span>

					<form th:action="@{/item/update_cart}">
						<input type="hidden" name="c_email" th:value="${c_email}" />
						<input type="hidden" name="p_id" th:value="${p.p_id}" />
						<input type="hidden" name="product_id" th:value="${product.p_id}" />
						<input type="number" name="qty" th:if="${p.unit} == ''" />
						<input type="text" name="qty" th:if="${p.unit} != ''" />
						<button type="submit">update</button>
					</form>

				</span>

				<span class="cart_item_price">Rs.<span th:unless="${p.tempPrice}"><span th:unless="${p.tempPrice1}">
							<span class="tp1_span3" th:text="${p.price}"></span></span></span>

					<span class="tp1_span2" th:if="${p.tempPrice}" th:text="${p.tempPrice}"></span>
					<span class="tp1_span" th:if="${p.tempPrice1}" th:text="${p.tempPrice1}"></span>

					<form method="post" style="display:inline;" th:action="@{/item/remove_from_cart}">

						<input id="test_id" type="hidden" name="c_email" th:value="${c_email}" />
						<input type="hidden" name="p_id" th:value="${p.p_id}" />
						<input type="hidden" name="product_id" th:value="${product.p_id}" />
						<!--<input type="number" name="qty" />-->
						<button class="remove_item_btn" type="submit"><i class="fa-solid fa-trash"
								style="color: #ffffff;"></i></button>
					</form>

				</span>
			</div>
		</div>
		<hr />
		<div class="container bottom_cart" th:if="${products}">
			<div class="row">
				<div class="col-md-6">
					<button class="checkout_btn" onclick="paymentStart()">Proceed to checkout</button>
				</div>
				<div class="col-md-6">
					<!--<h5>Total : Rs.<span th:text="${totalPrice}">2050</span>/-</h5>
					<input type="hidden" id="amt_to_be_paid" th:value="${totalPrice}" />-->
					<h5><b><u>Total :</u></b> Rs.<span class="total_amount">2050</span>/-</h5>
					<input type="hidden" id="amt_to_be_paid" />
				</div>

			</div>
		</div>
	</div>
	<input type="hidden" id="page_name_id" th:value="${allowed}" />
	<input type="hidden" id="product_added_id" th:if="${product_added}" th:value="${product_added}" />
	<form th:action="@{/item/get-customers}">

		<input type="hidden" name="page" value="customer_index" />
		<input type="hidden" name="id" th:value="${product.p_id}" />
		<button type="submit" id="views_btn" style="display:none;"></button>
	</form>
	<div class="customers_top_div fixed-top container">
		<span style="display:none;">cust</span>
		<i class="fa-solid fa-xmark close_btn12" onclick="close_view_customers(this)"></i>
		<!--<i class="fa-solid fa-xmark close_btn" onclick="close_view_customers()">-->
		<div class="container">
			<div class="row text-center">
				<div class="col-4">
					<h2>Name</h2>
				</div>
				<div class="col-4">
					<h2>Mobile No.</h2>
				</div>
				<div class="col-4">
					<h2>Time</h2>
				</div>

			</div>
		</div>

		<div class="container viewed_customers">
			<!--<div class="row text-center" th:each="cp:${customerProducts}">
				<div class="col-4">
					<h4 th:text="${cp.customerName}">Name</h4>
				</div>
				<div class="col-4">
					<h4 th:text="${cp.status}">Status</h4>
				</div>
				<div class="col-4">
					<h4 th:text="${cp.time}">Time</h4>
				</div>

			</div>-->
		</div>
		<hr />
		<!--<h3 class="text-center">No views</h3>-->
	</div>
	<div class="customers_top_div fixed-top container">
		<i class="fa-solid fa-xmark close_btn12" onclick="close_view_customers(this)"></i>

	</div>
	<div class="display_main">
		<div class="container" th:if="${product}">
			<h1 class="text-center display_cat_name" th:text="' Category : '+${product.category}"></h1>
			<div class="row">
				<div class="col-md-6">
					<img class="display_img" th:src="@{' /images/'+${product.mainImage}}" />
					<hr />
					<div class="row" th:if="${product.subImages}">
						<div class="col-md-2 col-3" th:each="ps:${product.subImages}">
							<img class="display_img1" th:src="@{'/images/'+${ps}}" onclick="img_switch(this)" />
						</div>
						<hr />
					</div>
				</div>
				<hr />

				<div class="col-md-6">
					<div class="product_info">
						<h3 th:text="${product.p_name}"></h3>
						<hr />
						<h5 class="price_info" th:text="'Rs.'+${product.price}"></h5>
						<!--<span class="display_desc" th:if="${product.description}">
							<h5>Description :</h5>
							<p th:text="${product.discription}"></p>
						</span>-->
						<!--<hr />
						<h5 class="phone_info" th:text="'Phone : '+${product.seller.phone}"></h5>
-->
					</div>
					<br />
					<div class="features_info">
						<h1 class="text-center">Features</h1>
						<div class="row">
							<div class="col-md-12">
								<ul class="list-group">
									<th:block th:each="f:${product.features}">
										<li class="list-group-item" th:text="${f}">Cras justo odio</li>
										<!--<li style="list-style-type:none;" th:text="${f}">Cras justo odio</li>-->
									</th:block>


								</ul>
							</div>
						</div>
					</div>

				</div>
				<hr />


				<!--<div class="col-md-6">
					
				</div>-->
				<hr />
			</div>




		</div>
		<div class="container" th:if="${service}">
			<h1 class="text-center display_cat_name" th:text="'Category : '+${service.category}"></h1>
			<div class="row">
				<div class="col-md-6">
					<img class="display_img" th:src="@{'/images/'+${service.mainImage}}" />
					<hr />
					<div class="row" th:if="${service.subImages}">
						<div class="col-md-2 col-3" th:each="ss:${service.subImages}">
							<img class="display_img1" th:src="@{'/images/'+${ss}}" onclick="img_switch(this)" />
						</div>
						<hr />
					</div>
				</div>
				<hr />
				<div class="col-md-6">
					<div class="product_info">
						<h3 th:text="${service.s_name}"></h3>
						<hr />
						<h5 class="price_info" th:text="'Rs.'+${service.price}+'/-'"></h5>
						<!--<span class="display_desc" th:if="${service.description}">
							<h5>Description :</h5>
							<p th:text="${service.description}"></p>
						</span>-->
						<hr />
						<h5 class="phone_info" th:text="'Phone : '+${service.seller.phone}"></h5>

					</div>
					<br />
					<div class="features_info">
						<h1 class="text-center">Features</h1>
						<div class="row">
							<div class="col-md-12">
								<ul class="list-group">
									<th:block th:each="f:${service.features}">
										<li class="list-group-item" th:text="${f}">Cras justo odio</li>
									</th:block>


								</ul>
							</div>
						</div>
					</div>

				</div>
				<hr />


				<!--<div class="col-md-6">
					
				</div>-->
				<hr />
			</div>




		</div>
	</div>
	<hr />
	<!--<button th:onclick="|show_customers(${product.p_id})|">button</button>-->
	<div class="container">
		<div class="row">
			<div class="col-6">
				<form method="post" th:action="@{/item/exchange-refund}" target="_blank">
					<input type="hidden" name="id" th:value="${product.p_id}" />
					<button class="contact_seller_btn" type="submit">Exchange & Refund Policy</button>
				</form>

			</div>

			<div class="col-6">

				<button class="add_to_cart_btn" th:onclick="|add_to_cart(${product.p_id})|">Seller Info</button>
			</div>
		</div>
	</div>
	<input type="hidden" name="manage_cart" id="manage_cart_id" value="no submit" />
	<form id="form1_id" method="get" th:action="@{/item/add_to_cart}" style="display: none;">

		<input type="hidden" name="c_email" th:value="${c_email}" />
		<input type="hidden" name="p_id" th:if="${product}" th:value="${product.p_id}" />
		<button id="add_to_cart" type="submit"></button>
	</form>
	<hr />
	<section class="info_section  layout_padding2-top section2">
		<div class="social_container">
			<div class="social_box">
				<footer class=" footer_section">
					<div class="container">
						<p>
							&copy; <span id="displayYear"></span> All Rights Reserved By
							<a href="#">Kumar Siddharth</a>
						</p>
					</div>
				</footer>
			</div>
		</div>
	</section>
	<script th:src="@{/js/jquery-3.4.1.min.js}"></script>
	<script th:src="@{/js/bootstrap.js}"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js}">
	</script>
	<script th:src="@{/js/custom.js}"></script>
	<script th:src="@{/js/myscript.js}"></script>
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
	<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
</body>