<!DOCTYPE html>
<html lang="en" xmlns:th=http://www.thymeleaf.org>

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<!-- Mobile Metas -->
	<!--<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />-->
	<meta name="viewport" content="height=device-height, 
                      width=device-width, initial-scale=1.0, 
                      minimum-scale=1.0, maximum-scale=1.0, 
                      user-scalable=no, target-densitydpi=device-dpi" />
	<!-- Site Metas -->
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<meta name="author" content="" />
	<link rel="shortcut icon" th:href="@{/images/google_logo.png}" type="image/x-icon">
	<link rel="icon" th:href="@{/images/google_logo.png}" type="image/x-icon">

	<title>
		Easy Query
	</title>

	<!-- slider stylesheet -->

	<link rel="stylesheet" type="text/css"
		href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
	<!-- bootstrap core css -->
	<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
		integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />
	<!-- Custom styles for this template -->
	<link th:href="@{/css/style.css}" rel="stylesheet" />
	<link th:href="@{/css/style1.css}" rel="stylesheet" />
	<!-- responsive style -->
	<link th:href="@{/css/responsive.css}" rel="stylesheet" />
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	<script src="sweetalert2.all.min.js"></script>
	<title>Insert title here</title>
</head>

<body>

	<div id="easy_login" class="search_area se_search_area2">
		<i class="fa-solid fa-xmark close_btn" onclick="close_easy_query()"></i>
		<input id="credentials7_id" type="hidden" th:value="${credentials7}" />
		<h1>Easy Query Login</h1>
		<!--<div id="bad_cred1">
				<h4>
					Inavlid username or password !
					<i class="fa-solid fa-xmark" onclick="close_search()"></i>

				</h4>
			</div>-->
		<input id="backB" type="hidden" th:value="${backB}" />
		<form action="#" method="post" th:action="@{/easyquery/do-login}" class="mt-2">
			<input name="username" type="text" class="search_input" placeholder="----------Username-----------" />
			<input name="password" type="password" class="search_input" placeholder="----------Password-----------" />
			<hr />
			<button class="seller_login_btn" type="submit">Login</button>
		</form>
	</div>
	<div id="easy_passcode" class="search_area se_search_area3">
		<i class="fa-solid fa-xmark close_btn" onclick="close_easy_query()"></i>
		<input id="credentials6_id" type="hidden" th:value="${credentials6}" />
		<div class="check_passcode_area">

		</div>


		<h1>Enter Passcode</h1>
		<!--<div id="bad_cred1">
				<h4>
					Inavlid username or password !
					<i class="fa-solid fa-xmark" onclick="close_search()"></i>

				</h4>
			</div>-->
		<input id="backB" type="hidden" th:value="${backB}" />
		<!--<input id="passcode_value" type="hidden" th:value="${passcode}">-->

		<form action="#" method="post" th:action="@{/easyquery/submit-passcode}" class="mt-2">
			<input name="passcode" type="text" class="search_input search_input3"
				placeholder="----------Passcode-----------" />

			<hr />
			<div class="container">
				<div class="row">
					<div class="col-6">
						<button type="button" class="check_passcode" onclick="check_passcode()">
							Check Passcode >></button>
					</div>
					<div class="col-6">
						<button class="seller_login_btn passcode_login" type="submit">Submit</button>
					</div>
				</div>
			</div>



		</form>
	</div>

	<script th:src="@{/js/jquery-3.4.1.min.js}"></script>
	<script th:src="@{/js/bootstrap.js}"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js}">
	</script>
	<script th:src="@{/js/custom.js}"></script>
	<script th:src="@{/js/myscript.js}"></script>
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
	<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
	<script async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCl30do4Fl45eUvhk6PQDFA7JMWIBhS0jk
&loading=async&libraries=places&callback=initMap"></script>
</body>

</html>